@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
margin:0;
font-family:Poppins,sans-serif;
background:#f6e7cf;
}

nav{
background:white;
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:999;
}

nav a{
text-decoration:none;
color:#222;
margin:0 15px;
font-weight:500;
}

.logo{
font-weight:600;
font-size:20px;
}

.hero{
padding:80px 8%;
background:#f3dcc0;
}

section{
padding:60px 8%;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card{
background:white;
padding:15px;
border-radius:6px;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:5px;
}

footer{
background:#1b1b1b;
color:white;
text-align:center;
padding:25px;
}

/* floating buttons */

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:14px;
border-radius:50%;
text-decoration:none;
font-size:22px;
}

.call{
position:fixed;
bottom:20px;
left:20px;
background:black;
color:white;
padding:14px;
border-radius:50%;
text-decoration:none;
font-size:20px;
}

input,textarea{
width:100%;
padding:10px;
margin-bottom:10px;
border:1px solid #ccc;
}


